/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {

    /* font stack */

    --fonts: 'Jersey 10', 'Arial', sans-serif;

    /* color palette */

    --eerie-blk: #1e1e1e;
    --gray: #546d8eff;
    --med-blue: #81b5dbff;
    --lt-blue: #a5deecff;
    --seasalt: #fafbfdff;

    /* gradient */

    --radial: radial-gradient(#1e1e1e,#546d8eff,#fafbfdff);
    --linear: linear-gradient(#546d8eff,#1e1e1e);

    /* filter */
}

/* video & image styling */

#starrynight {
    position: fixed; 
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#staticfallback {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}


#crystalball {
    height: 250px;
    width: auto;
    opacity: .85;
}

#crystalball:hover {
    animation: shake 2.0s;
}

/* gen body styling */

body {
    font-family: var(--fonts);
    color: var(--seasalt);
    line-height: 1.25;
    font-weight: 300;
    box-sizing: border-box;
}

header, main, footer {
    font-family: var(--fonts);
}

header section {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* gen styles */ 

h1, h2, h3 {
    font-weight: bold; 
}

h1 {
    font-size: 10rem;
    margin: auto;
}

p {
    max-width: 60ch;
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}

.button {
    all:unset;
}

/* nav dropdown */

#dropdown {
    display: inline-block;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

#dropbtn {
    font-size: 5rem;
    letter-spacing: .5rem;
    font-family: var(--fonts);
    font-weight: 700;
}

#dropbtn:hover {
    color: aquamarine;
    cursor: grab;
}

#dropdown-content a {
    color: var(--seasalt);
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 2.5rem;
}

#dropdown-content a:hover {
    color: aquamarine;
}

/* --triggers drop on hover */

#dropdown:hover #dropdown-content {display: block}

/* --defaults dropdown-content to hidden */

#dropdown-content {
    display: none;
    position: absolute;
    box-shadow: none;
    text-decoration: none;
}

/* form and answer box */

main div {
    text-align: center;
    margin: auto;
}

#fortune {
    padding: 4rem 8rem;
}

form {
    width: 60vw;
    margin: 0 auto;
}

#question {
    font-family: var(--fonts);
    font-size: 4rem;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background-color: var(--seasalt);
    size: 65ch;
    color: var(--eerie-blk)
}


#question:focus::placeholder {
    color: transparent;
}

#diviner {
    font-size: 5rem;
    padding: 2rem;
}

#diviner:hover {
    color: aquamarine;
    cursor:grab;
}

#fortune {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 4rem;
}

/* keyframes */

@keyframes shake {
    0%  {transform: translate(1px, 1px) rotate(1deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


