/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {

    /* font stack */

    --fonts: 'Jersey 10', 'Arial', sans-serif;

    /* color palette */

    --eerie-blk: #1e1e1e;
    --gray: #546d8eff;
    --med-blue: #81b5dbff;
    --lt-blue: #a5deecff;
    --seasalt: #fafbfdff;

    /* gradient */

    --radial: radial-gradient(#1e1e1e,#546d8eff,#fafbfdff);
    --linear: linear-gradient(#546d8eff,#1e1e1e);

    /* filter */
}

/* video & image styling */

#starrynight {
    position: fixed; 
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#staticfallback {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

img {
    height: 150px;
    width: auto;
    padding: 150px 0;
}

#crystalball {
    height: 400px;
    width: auto;
}

/* gen body styling */

body {
    font-family: var(--fonts);
    color: var(--seasalt);
    line-height: 1.25;
    font-weight: 300;
    box-sizing: border-box;
}

header, main, footer {
    font-family: var(--fonts);
}


/* gen styles */ 

h1, h2, h3 {
    font-weight: bold; 
}

h1 {
    font-size: 8rem;
    text-align: center;
    padding: 4rem;
}

p {
    max-width: 60ch;
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}

/* image container */

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main section {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* nav dropdown */

.button {
    all:unset;
}

#dropdown {
    display: inline-block;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
}

#dropbtn {
    font-size: 4rem;
    letter-spacing: .5rem;
    font-family: var(--fonts);
    font-weight: 700;
}

/* triggers drop on hover */

#dropdown:hover #dropdown-content {display: block}

/* defaults dropdown-content to hidden */

#dropdown-content {
    display: none;
    position: absolute;
    box-shadow: none;
    text-decoration: none;
}

#dropdown-content a {
    color: var(--seasalt);
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 2.5rem;

}

#dropdown-content a:hover {
    color: aquamarine;
}

/* header styling */


